USE [master]
GO
/****** Object:  Database [PhanVanHai_QuanLyCamDo]    Script Date: 12/05/2026 3:45:23 AM ******/
CREATE DATABASE [PhanVanHai_QuanLyCamDo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PhanVanHai_QuanLyCamDo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PhanVanHai_QuanLyCamDo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PhanVanHai_QuanLyCamDo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PhanVanHai_QuanLyCamDo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PhanVanHai_QuanLyCamDo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PhanVanHai_QuanLyCamDo]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 12/05/2026 3:45:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
--  EVENT 2a: FUNCTION – Tính tiền phải trả cho 1 hợp đồng
--            tính đến ngày TargetDate
--
--  Công thức:
--    Lãi đơn mỗi ngày = 0.5% / triệu / ngày
--    Trong hạn (≤ Deadline1) : TổngTrả = Gốc × (1 + 0.005 × số_ngày)
--    Quá hạn  (> Deadline1) :
--      LãiĐơnTíchLũy = Gốc × 0.005 × số_ngày_đến_DL1
--      GốcMới        = Gốc + LãiĐơnTíchLũy
--      LãiKép        = GốcMới × ((1 + 0.005)^số_ngày_sau_DL1 - 1)
--      TổngTrả       = Gốc + LãiĐơnTíchLũy + LãiKép
-- ============================================================
CREATE   FUNCTION [dbo].[fn_CalcMoneyContract] (
    @HopDongID  INT,
    @TargetDate DATE       -- Ngày muốn tính đến
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE
        @SoTienVayGoc   DECIMAL(18,2),   -- Tiền gốc ban đầu
        @SoTienConLai   DECIMAL(18,2),   -- Dư nợ gốc còn lại (đã trừ các lần trả gốc)
        @NgayVay        DATE,
        @Deadline1      DATE,
        @SoNgayTrongHan INT,             -- Số ngày từ ngày vay đến Deadline1
        @SoNgayQuaHan   INT,             -- Số ngày từ Deadline1 đến TargetDate
        @LaiDonTichLuy  DECIMAL(18,2),   -- Lãi đơn tích lũy đến Deadline1
        @GocMoi         DECIMAL(18,2),   -- Gốc mới = Gốc + LãiĐơn (cơ sở tính lãi kép)
        @LaiKep         DECIMAL(18,2),   -- Lãi kép tính từ sau Deadline1
        @TongTienPhai   DECIMAL(18,2);   -- Kết quả trả về

    -- Lấy thông tin hợp đồng
    SELECT
        @SoTienVayGoc = SoTienVay,
        @SoTienConLai = SoTienConLai,
        @NgayVay      = NgayVay,
        @Deadline1    = Deadline1
    FROM HopDong
    WHERE HopDongID = @HopDongID;

    -- Nếu hợp đồng không tồn tại → trả về NULL
    IF @SoTienConLai IS NULL RETURN NULL;

    -- ── Trường hợp 1: Chưa quá Deadline1 → chỉ tính lãi đơn ──
    IF @TargetDate <= @Deadline1
    BEGIN
        SET @SoNgayTrongHan = DATEDIFF(DAY, @NgayVay, @TargetDate);

        -- Lãi đơn = Gốc × 0.5% × số_ngày
        SET @TongTienPhai = @SoTienConLai
                          + (@SoTienConLai * 0.005 * @SoNgayTrongHan);
    END

    -- ── Trường hợp 2: Đã quá Deadline1 → lãi kép ──────────
    ELSE
    BEGIN
        -- Số ngày trong hạn (từ ngày vay đến Deadline1)
        SET @SoNgayTrongHan = DATEDIFF(DAY, @NgayVay, @Deadline1);

        -- Số ngày quá hạn (từ Deadline1 đến TargetDate)
        SET @SoNgayQuaHan   = DATEDIFF(DAY, @Deadline1, @TargetDate);

        -- Lãi đơn tích lũy tính đến Deadline1
        SET @LaiDonTichLuy  = @SoTienConLai * 0.005 * @SoNgayTrongHan;

        -- Gốc mới để tính lãi kép = Gốc + Lãi đơn tích lũy
        SET @GocMoi         = @SoTienConLai + @LaiDonTichLuy;

        -- Lãi kép: GốcMới × ((1 + 0.005)^ngày_quá_hạn - 1)
        -- Dùng POWER() của SQL Server — tương đương Math.pow()
        SET @LaiKep         = @GocMoi * (POWER(CAST(1.005 AS FLOAT), @SoNgayQuaHan) - 1);

        -- Tổng phải trả = Gốc gốc + Lãi đơn + Lãi kép
        SET @TongTienPhai   = @SoTienConLai + @LaiDonTichLuy + CAST(@LaiKep AS DECIMAL(18,2));
    END

    RETURN @TongTienPhai;
END;

GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 12/05/2026 3:45:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[HopDongID] [int] IDENTITY(1,1) NOT NULL,
	[KhachHangID] [int] NOT NULL,
	[SoTienVay] [decimal](18, 2) NOT NULL,
	[SoTienConLai] [decimal](18, 2) NOT NULL,
	[NgayVay] [date] NOT NULL,
	[Deadline1] [date] NOT NULL,
	[Deadline2] [date] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[HopDongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/05/2026 3:45:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[KhachHangID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
	[CCCD] [varchar](20) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[KhachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/05/2026 3:45:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[NhanVienID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[VaiTro] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSan]    Script Date: 12/05/2026 3:45:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSan](
	[TaiSanID] [int] IDENTITY(1,1) NOT NULL,
	[HopDongID] [int] NOT NULL,
	[TenTaiSan] [nvarchar](200) NOT NULL,
	[LoaiTaiSan] [nvarchar](100) NULL,
	[GiaTriDinhGia] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiSanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan_Log]    Script Date: 12/05/2026 3:45:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan_Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[HopDongID] [int] NOT NULL,
	[NhanVienID] [int] NULL,
	[NgayTra] [datetime] NOT NULL,
	[SoTienTra] [decimal](18, 2) NOT NULL,
	[SoTienConNo] [decimal](18, 2) NOT NULL,
	[LoaiThanhToan] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TraTaiSan_Log]    Script Date: 12/05/2026 3:45:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraTaiSan_Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[TaiSanID] [int] NOT NULL,
	[HopDongID] [int] NOT NULL,
	[NhanVienID] [int] NULL,
	[NgayTra] [datetime] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HopDong] ON 

INSERT [dbo].[HopDong] ([HopDongID], [KhachHangID], [SoTienVay], [SoTienConLai], [NgayVay], [Deadline1], [Deadline2], [TrangThai], [GhiChu]) VALUES (1, 1, CAST(5000000.00 AS Decimal(18, 2)), CAST(5000000.00 AS Decimal(18, 2)), CAST(N'2026-05-02' AS Date), CAST(N'2026-07-01' AS Date), CAST(N'2026-07-31' AS Date), N'Đang vay', NULL)
INSERT [dbo].[HopDong] ([HopDongID], [KhachHangID], [SoTienVay], [SoTienConLai], [NgayVay], [Deadline1], [Deadline2], [TrangThai], [GhiChu]) VALUES (2, 2, CAST(10000000.00 AS Decimal(18, 2)), CAST(10000000.00 AS Decimal(18, 2)), CAST(N'2026-02-26' AS Date), CAST(N'2026-06-11' AS Date), CAST(N'2026-07-11' AS Date), N'Đang vay', NULL)
INSERT [dbo].[HopDong] ([HopDongID], [KhachHangID], [SoTienVay], [SoTienConLai], [NgayVay], [Deadline1], [Deadline2], [TrangThai], [GhiChu]) VALUES (3, 3, CAST(3000000.00 AS Decimal(18, 2)), CAST(3000000.00 AS Decimal(18, 2)), CAST(N'2026-01-12' AS Date), CAST(N'2026-03-13' AS Date), CAST(N'2026-05-02' AS Date), N'Đã thanh lý', NULL)
SET IDENTITY_INSERT [dbo].[HopDong] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([KhachHangID], [HoTen], [SoDienThoai], [CCCD], [DiaChi], [NgayTao]) VALUES (1, N'Phạm Minh Đức', N'0911000001', N'001234567890', N'12 Lý Thường Kiệt, Hà Nội', CAST(N'2026-05-12T03:31:35.817' AS DateTime))
INSERT [dbo].[KhachHang] ([KhachHangID], [HoTen], [SoDienThoai], [CCCD], [DiaChi], [NgayTao]) VALUES (2, N'Hoàng Thị Thu', N'0911000002', N'001234567891', N'45 Trần Phú, Hà Nội', CAST(N'2026-05-12T03:31:35.817' AS DateTime))
INSERT [dbo].[KhachHang] ([KhachHangID], [HoTen], [SoDienThoai], [CCCD], [DiaChi], [NgayTao]) VALUES (3, N'Vũ Quốc Hùng', N'0911000003', N'001234567892', N'78 Nguyễn Huệ, TP.HCM', CAST(N'2026-05-12T03:31:35.817' AS DateTime))
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([NhanVienID], [HoTen], [SoDienThoai], [VaiTro]) VALUES (1, N'Nguyễn Văn An', N'0901111111', N'Thu ngân')
INSERT [dbo].[NhanVien] ([NhanVienID], [HoTen], [SoDienThoai], [VaiTro]) VALUES (2, N'Trần Thị Bình', N'0902222222', N'Quản lý')
INSERT [dbo].[NhanVien] ([NhanVienID], [HoTen], [SoDienThoai], [VaiTro]) VALUES (3, N'Lê Văn Cường', N'0903333333', N'Thu ngân')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiSan] ON 

INSERT [dbo].[TaiSan] ([TaiSanID], [HopDongID], [TenTaiSan], [LoaiTaiSan], [GiaTriDinhGia], [TrangThai], [GhiChu]) VALUES (1, 1, N'iPhone 14 Pro Max 256GB màu tím', N'Điện thoại', CAST(4000000.00 AS Decimal(18, 2)), N'Đang cầm cố', NULL)
INSERT [dbo].[TaiSan] ([TaiSanID], [HopDongID], [TenTaiSan], [LoaiTaiSan], [GiaTriDinhGia], [TrangThai], [GhiChu]) VALUES (2, 1, N'MacBook Air M1 2020', N'Laptop', CAST(3000000.00 AS Decimal(18, 2)), N'Đang cầm cố', NULL)
INSERT [dbo].[TaiSan] ([TaiSanID], [HopDongID], [TenTaiSan], [LoaiTaiSan], [GiaTriDinhGia], [TrangThai], [GhiChu]) VALUES (3, 2, N'Xe máy Honda Wave RSX 2020', N'Xe máy', CAST(9000000.00 AS Decimal(18, 2)), N'Đang cầm cố', NULL)
SET IDENTITY_INSERT [dbo].[TaiSan] OFF
GO
SET IDENTITY_INSERT [dbo].[ThanhToan_Log] ON 

INSERT [dbo].[ThanhToan_Log] ([LogID], [HopDongID], [NhanVienID], [NgayTra], [SoTienTra], [SoTienConNo], [LoaiThanhToan], [GhiChu]) VALUES (1, 4, 1, CAST(N'2026-05-07T03:31:35.847' AS DateTime), CAST(2300000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Trả thường', N'Trả hết gốc + lãi')
INSERT [dbo].[ThanhToan_Log] ([LogID], [HopDongID], [NhanVienID], [NgayTra], [SoTienTra], [SoTienConNo], [LoaiThanhToan], [GhiChu]) VALUES (2, 5, 1, CAST(N'2026-04-27T03:31:35.847' AS DateTime), CAST(2000000.00 AS Decimal(18, 2)), CAST(6800000.00 AS Decimal(18, 2)), N'Trả thường', N'Trả lần 1')
INSERT [dbo].[ThanhToan_Log] ([LogID], [HopDongID], [NhanVienID], [NgayTra], [SoTienTra], [SoTienConNo], [LoaiThanhToan], [GhiChu]) VALUES (3, 5, 2, CAST(N'2026-05-05T03:31:35.847' AS DateTime), CAST(1800000.00 AS Decimal(18, 2)), CAST(5000000.00 AS Decimal(18, 2)), N'Trả thường', N'Trả lần 2')
SET IDENTITY_INSERT [dbo].[ThanhToan_Log] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__0389B7BD97E35E5C]    Script Date: 12/05/2026 3:45:24 AM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__A955A0AABFCC195B]    Script Date: 12/05/2026 3:45:24 AM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (CONVERT([date],getdate())) FOR [NgayVay]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (N'Đang vay') FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (N'Thu ngân') FOR [VaiTro]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT (N'Đang cầm cố') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ThanhToan_Log] ADD  DEFAULT (getdate()) FOR [NgayTra]
GO
ALTER TABLE [dbo].[ThanhToan_Log] ADD  DEFAULT (N'Trả thường') FOR [LoaiThanhToan]
GO
ALTER TABLE [dbo].[TraTaiSan_Log] ADD  DEFAULT (getdate()) FOR [NgayTra]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_KhachHang] FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([KhachHangID])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HopDong_KhachHang]
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD  CONSTRAINT [FK_TaiSan_HopDong] FOREIGN KEY([HopDongID])
REFERENCES [dbo].[HopDong] ([HopDongID])
GO
ALTER TABLE [dbo].[TaiSan] CHECK CONSTRAINT [FK_TaiSan_HopDong]
GO
ALTER TABLE [dbo].[ThanhToan_Log]  WITH CHECK ADD  CONSTRAINT [FK_Log_HopDong] FOREIGN KEY([HopDongID])
REFERENCES [dbo].[HopDong] ([HopDongID])
GO
ALTER TABLE [dbo].[ThanhToan_Log] CHECK CONSTRAINT [FK_Log_HopDong]
GO
ALTER TABLE [dbo].[ThanhToan_Log]  WITH CHECK ADD  CONSTRAINT [FK_Log_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[ThanhToan_Log] CHECK CONSTRAINT [FK_Log_NhanVien]
GO
ALTER TABLE [dbo].[TraTaiSan_Log]  WITH CHECK ADD  CONSTRAINT [FK_TraTS_HopDong] FOREIGN KEY([HopDongID])
REFERENCES [dbo].[HopDong] ([HopDongID])
GO
ALTER TABLE [dbo].[TraTaiSan_Log] CHECK CONSTRAINT [FK_TraTS_HopDong]
GO
ALTER TABLE [dbo].[TraTaiSan_Log]  WITH CHECK ADD  CONSTRAINT [FK_TraTS_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[TraTaiSan_Log] CHECK CONSTRAINT [FK_TraTS_NhanVien]
GO
ALTER TABLE [dbo].[TraTaiSan_Log]  WITH CHECK ADD  CONSTRAINT [FK_TraTS_TaiSan] FOREIGN KEY([TaiSanID])
REFERENCES [dbo].[TaiSan] ([TaiSanID])
GO
ALTER TABLE [dbo].[TraTaiSan_Log] CHECK CONSTRAINT [FK_TraTS_TaiSan]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [CK_Deadline] CHECK  (([Deadline2]>[Deadline1]))
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [CK_Deadline]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [CK_SoTienConLai] CHECK  (([SoTienConLai]>=(0)))
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [CK_SoTienConLai]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [CK_SoTienVay] CHECK  (([SoTienVay]>(0)))
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [CK_SoTienVay]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [CK_TrangThai_HD] CHECK  (([TrangThai]=N'Đã thanh lý' OR [TrangThai]=N'Đã thanh toán đủ' OR [TrangThai]=N'Quá hạn' OR [TrangThai]=N'Đang trả góp' OR [TrangThai]=N'Đang vay'))
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [CK_TrangThai_HD]
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD  CONSTRAINT [CK_GiaTriDinhGia] CHECK  (([GiaTriDinhGia]>(0)))
GO
ALTER TABLE [dbo].[TaiSan] CHECK CONSTRAINT [CK_GiaTriDinhGia]
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD  CONSTRAINT [CK_TrangThai_TS] CHECK  (([TrangThai]=N'Đã bán thanh lý' OR [TrangThai]=N'Sẵn sàng thanh lý' OR [TrangThai]=N'Đã trả khách' OR [TrangThai]=N'Đang cầm cố'))
GO
ALTER TABLE [dbo].[TaiSan] CHECK CONSTRAINT [CK_TrangThai_TS]
GO
ALTER TABLE [dbo].[ThanhToan_Log]  WITH CHECK ADD  CONSTRAINT [CK_SoTienTra] CHECK  (([SoTienTra]>(0)))
GO
ALTER TABLE [dbo].[ThanhToan_Log] CHECK CONSTRAINT [CK_SoTienTra]
GO
/****** Object:  StoredProcedure [dbo].[sp_DangKyHopDong]    Script Date: 12/05/2026 3:45:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
--  EVENT 1: STORED PROCEDURE – Đăng ký hợp đồng mới
--
--  Tham số đầu vào:
--    @KhachHangID   : ID khách hàng đã tồn tại
--    @SoTienVay     : Số tiền muốn vay (đồng)
--    @SoNgayDeadline1: Số ngày từ hôm nay đến Deadline1
--    @SoNgayDeadline2: Số ngày từ hôm nay đến Deadline2
--    @DanhSachTaiSan : Danh sách tài sản dạng JSON
--                      Ví dụ: '[{"Ten":"iPhone","Loai":"Dien thoai","GiaTri":5000000}]'
--  Trả về:
--    @NewHopDongID  : ID hợp đồng vừa tạo
-- ============================================================
CREATE   PROCEDURE [dbo].[sp_DangKyHopDong]
    @KhachHangID      INT,
    @SoTienVay        DECIMAL(18,2),
    @SoNgayDeadline1  INT,          -- Ví dụ: 30 (ngày)
    @SoNgayDeadline2  INT,          -- Ví dụ: 60 (ngày)
    @DanhSachTaiSan   NVARCHAR(MAX) -- JSON array của tài sản
AS
BEGIN
    SET NOCOUNT ON;

    -- ── Khai báo biến ──────────────────────────────────────
    DECLARE @NewHopDongID INT;
    DECLARE @TongGiaTri   DECIMAL(18,2);
    DECLARE @NgayHom_Nay  DATE = CAST(GETDATE() AS DATE);

    -- ── Bắt đầu transaction ────────────────────────────────
    BEGIN TRANSACTION;
    BEGIN TRY

        -- Bước 1: Kiểm tra khách hàng tồn tại
        IF NOT EXISTS (SELECT 1 FROM KhachHang WHERE KhachHangID = @KhachHangID)
            RAISERROR(N'Khách hàng không tồn tại trong hệ thống.', 16, 1);

        -- Bước 2: Kiểm tra Deadline2 phải lớn hơn Deadline1
        IF @SoNgayDeadline1 <= 0 OR @SoNgayDeadline2 <= 0
            RAISERROR(N'Số ngày đến các deadline phải lớn hơn 0.', 16, 1);

        IF @SoNgayDeadline2 <= @SoNgayDeadline1
            RAISERROR(N'Deadline2 phải sau Deadline1.', 16, 1);

        -- Bước 3: Kiểm tra tổng giá trị tài sản >= số tiền vay
        IF @SoTienVay <= 0
            RAISERROR(N'Số tiền vay phải lớn hơn 0.', 16, 1);

        SELECT @TongGiaTri = SUM(CAST(j.GiaTri AS DECIMAL(18,2)))
        FROM OPENJSON(@DanhSachTaiSan)
        WITH (
            Ten    NVARCHAR(200) '$.Ten',
            Loai   NVARCHAR(100) '$.Loai',
            GiaTri DECIMAL(18,2) '$.GiaTri'
        ) j;

        IF @TongGiaTri IS NULL
            RAISERROR(N'Danh sách tài sản không hợp lệ hoặc đang rỗng.', 16, 1);

        IF EXISTS (
            SELECT 1
            FROM OPENJSON(@DanhSachTaiSan)
            WITH (
                Ten    NVARCHAR(200) '$.Ten',
                Loai   NVARCHAR(100) '$.Loai',
                GiaTri DECIMAL(18,2) '$.GiaTri'
            ) j
            WHERE j.GiaTri IS NULL OR j.GiaTri <= 0 OR j.Ten IS NULL
        )
            RAISERROR(N'Dữ liệu tài sản không hợp lệ.', 16, 1);

        IF @TongGiaTri < @SoTienVay
            RAISERROR(N'Tổng giá trị tài sản phải >= số tiền vay.', 16, 1);

        -- Bước 4: Tạo hợp đồng mới
        INSERT INTO HopDong (KhachHangID, SoTienVay, SoTienConLai,
                             NgayVay, Deadline1, Deadline2, TrangThai)
        VALUES (
            @KhachHangID,
            @SoTienVay,
            @SoTienVay,                                         -- Dư nợ ban đầu = tiền vay
            @NgayHom_Nay,
            DATEADD(DAY, @SoNgayDeadline1, @NgayHom_Nay),      -- Deadline1
            DATEADD(DAY, @SoNgayDeadline2, @NgayHom_Nay),      -- Deadline2
            N'Đang vay'
        );

        SET @NewHopDongID = SCOPE_IDENTITY();                   -- Lấy ID vừa tạo

        -- Bước 5: Thêm từng tài sản thế chấp vào bảng TaiSan
        INSERT INTO TaiSan (HopDongID, TenTaiSan, LoaiTaiSan, GiaTriDinhGia, TrangThai)
        SELECT
            @NewHopDongID,
            j.Ten,
            j.Loai,
            j.GiaTri,
            N'Đang cầm cố'
        FROM OPENJSON(@DanhSachTaiSan)
        WITH (
            Ten    NVARCHAR(200) '$.Ten',
            Loai   NVARCHAR(100) '$.Loai',
            GiaTri DECIMAL(18,2) '$.GiaTri'
        ) j;

        COMMIT TRANSACTION;

        -- Trả kết quả về cho caller
        SELECT
            @NewHopDongID          AS HopDongID,
            @SoTienVay             AS SoTienVay,
            DATEADD(DAY, @SoNgayDeadline1, @NgayHom_Nay) AS Deadline1,
            DATEADD(DAY, @SoNgayDeadline2, @NgayHom_Nay) AS Deadline2,
            N'Hợp đồng đã tạo thành công' AS ThongBao;

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        -- Ném lại lỗi để caller biết
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GiaHanHopDong]    Script Date: 12/05/2026 3:45:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
--  SỰ KIỆN BỔ SUNG: Gia hạn hợp đồng
--
--  Khách trả toàn bộ lãi tính đến hiện tại
--  → Deadline1 và Deadline2 được dời lên một kỳ hạn mới
--  → Hợp đồng trở về trạng thái "Đang vay" (không còn lãi kép)
--
--  Tham số:
--    @HopDongID       : ID hợp đồng cần gia hạn
--    @SoNgayGiaHan    : Số ngày gia hạn thêm (Ví dụ: 30)
--    @NhanVienID      : Nhân viên thực hiện
-- ============================================================
CREATE   PROCEDURE [dbo].[sp_GiaHanHopDong]
    @HopDongID     INT,
    @SoNgayGiaHan  INT,
    @NhanVienID    INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @NgayHomNay     DATE           = CAST(GETDATE() AS DATE),
        @TongNoHienTai  DECIMAL(18,2),
        @SoTienConLai   DECIMAL(18,2),
        @TienLaiPhaiTra DECIMAL(18,2),  -- = Tổng nợ - Gốc = tiền lãi khách phải trả
        @Deadline1Cu    DATE,
        @Deadline2Cu    DATE;

    -- Lấy thông tin hợp đồng
    SELECT
        @SoTienConLai = SoTienConLai,
        @Deadline1Cu  = Deadline1,
        @Deadline2Cu  = Deadline2
    FROM HopDong WHERE HopDongID = @HopDongID;

    -- Tính tổng lãi cần trả để gia hạn
    SET @TongNoHienTai  = dbo.fn_CalcMoneyContract(@HopDongID, @NgayHomNay);
    SET @TienLaiPhaiTra = @TongNoHienTai - @SoTienConLai;

    BEGIN TRANSACTION;
    BEGIN TRY

        -- Dời Deadline1 và Deadline2 thêm @SoNgayGiaHan ngày từ hôm nay
        UPDATE HopDong
        SET
            Deadline1  = DATEADD(DAY, @SoNgayGiaHan, @NgayHomNay),
            Deadline2  = DATEADD(DAY, @SoNgayGiaHan * 2, @NgayHomNay),
            -- Giữ nguyên dư nợ gốc (khách chỉ trả lãi, không trả gốc)
            TrangThai  = N'Đang vay'
        WHERE HopDongID = @HopDongID;

        -- Ghi log khoản lãi khách đã trả để gia hạn
        INSERT INTO ThanhToan_Log
            (HopDongID, NhanVienID, NgayTra, SoTienTra, SoTienConNo, LoaiThanhToan, GhiChu)
        VALUES (
            @HopDongID,
            @NhanVienID,
            GETDATE(),
            @TienLaiPhaiTra,                -- Chỉ trả lãi, gốc giữ nguyên
            @SoTienConLai,                  -- Dư nợ gốc không đổi
            N'Gia hạn',
            N'Gia hạn hợp đồng ' + CAST(@SoNgayGiaHan AS VARCHAR) + N' ngày'
        );

        COMMIT TRANSACTION;

        SELECT
            N'Gia hạn thành công' AS ThongBao,
            @TienLaiPhaiTra       AS TienLaiKhachDaTra,
            @SoTienConLai         AS DuNoGocConLai,
            DATEADD(DAY, @SoNgayGiaHan, @NgayHomNay)     AS Deadline1_Moi,
            DATEADD(DAY, @SoNgayGiaHan * 2, @NgayHomNay) AS Deadline2_Moi;

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyTraNo]    Script Date: 12/05/2026 3:45:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
--  EVENT 3: STORED PROCEDURE – Xử lý trả nợ
--
--  Logic:
--    1. Nếu hợp đồng đã thanh lý → thông báo, không thu tiền
--    2. Tính tổng nợ hiện tại (Gốc + Lãi)
--    3. Trừ tiền khách trả vào dư nợ
--    4. Nếu trả đủ → cập nhật trạng thái "Đã thanh toán đủ", trả hết tài sản
--    5. Nếu chưa đủ → cập nhật "Đang trả góp", ghi log
--    6. Gợi ý danh sách tài sản có thể trả lại
-- ============================================================
CREATE   PROCEDURE [dbo].[sp_XuLyTraNo]
    @HopDongID    INT,
    @SoTienTra    DECIMAL(18,2),
    @NhanVienID   INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @TrangThaiHD    NVARCHAR(50),
        @TongNoCurrent  DECIMAL(18,2),
        @SoTienConLai   DECIMAL(18,2),
        @DuNoSauKhiTra  DECIMAL(18,2),
        @NgayHomNay     DATE = CAST(GETDATE() AS DATE);

    -- ── Bước 1: Lấy trạng thái hợp đồng ──────────────────
    SELECT
        @TrangThaiHD  = TrangThai,
        @SoTienConLai = SoTienConLai
    FROM HopDong
    WHERE HopDongID = @HopDongID;

    IF @TrangThaiHD IS NULL
    BEGIN
        SELECT N'Hợp đồng không tồn tại.' AS ThongBao; RETURN;
    END

    -- ── Bước 2: Kiểm tra tài sản đã bị thanh lý ──────────
    IF @TrangThaiHD = N'Đã thanh lý'
    BEGIN
        SELECT N'Tài sản đã bị thanh lý. Không thu tiền, không trả đồ.' AS ThongBao;
        RETURN;
    END

    -- ── Bước 3: Tính tổng nợ hiện tại (Gốc + Lãi) ────────
    IF @SoTienTra <= 0
    BEGIN
        SELECT N'Số tiền trả phải lớn hơn 0.' AS ThongBao; RETURN;
    END

    SET @TongNoCurrent = dbo.fn_CalcMoneyContract(@HopDongID, @NgayHomNay);

    BEGIN TRANSACTION;
    BEGIN TRY

        -- ── Bước 4: Tính dư nợ sau khi trừ tiền trả ──────
        SET @DuNoSauKhiTra = @TongNoCurrent - @SoTienTra;

        IF @DuNoSauKhiTra <= 0
        BEGIN
            -- ── TRƯỜNG HỢP A: Trả đủ hoặc thừa ───────────

            -- Cập nhật hợp đồng: dư nợ = 0, trạng thái = Đã thanh toán
            UPDATE HopDong
            SET SoTienConLai = 0,
                TrangThai    = N'Đã thanh toán đủ'
            WHERE HopDongID = @HopDongID;

            -- Trả tất cả tài sản còn đang cầm cố
            DECLARE @TaiSanDuocTra TABLE (TaiSanID INT PRIMARY KEY);

            INSERT INTO @TaiSanDuocTra (TaiSanID)
            SELECT TaiSanID
            FROM TaiSan
            WHERE HopDongID = @HopDongID
              AND TrangThai  = N'Đang cầm cố';

            UPDATE ts
            SET TrangThai = N'Đã trả khách'
            FROM TaiSan ts
            JOIN @TaiSanDuocTra x ON ts.TaiSanID = x.TaiSanID;

            -- Ghi log trả tài sản
            INSERT INTO TraTaiSan_Log (TaiSanID, HopDongID, NhanVienID, GhiChu)
            SELECT x.TaiSanID, @HopDongID, @NhanVienID, N'Trả hết khi thanh toán đủ'
            FROM @TaiSanDuocTra x;

            -- Ghi log thanh toán
            INSERT INTO ThanhToan_Log (HopDongID, NhanVienID, NgayTra, SoTienTra, SoTienConNo, GhiChu)
            VALUES (@HopDongID, @NhanVienID, GETDATE(), @SoTienTra, 0, N'Thanh toán đủ, trả hết tài sản');

            SELECT N'Đã thanh toán đủ. Toàn bộ tài sản đã được trả lại.' AS ThongBao,
                   @TongNoCurrent     AS TongNoTruocKhiTra,
                   @SoTienTra         AS SoTienKhachTra,
                   0                  AS DuNoConLai;
        END
        ELSE
        BEGIN
            -- ── TRƯỜNG HỢP B: Chưa trả đủ ─────────────────

            -- Trừ tiền trả vào dư nợ gốc (ghi nhận phần gốc đã trả)
            -- Giả định: tiền trả ưu tiên trả lãi trước, sau đó mới trả gốc
            DECLARE @LaiHienTai DECIMAL(18,2) = @TongNoCurrent - @SoTienConLai;
            DECLARE @ConLaiGocSauKhiTra DECIMAL(18,2);

            IF @SoTienTra >= @LaiHienTai
                -- Trả đủ lãi, còn dư thì trừ vào gốc
                SET @ConLaiGocSauKhiTra = @SoTienConLai - (@SoTienTra - @LaiHienTai)
            ELSE
                -- Chưa đủ trả lãi, gốc giữ nguyên
                SET @ConLaiGocSauKhiTra = @SoTienConLai;

            -- Cập nhật dư nợ gốc
            UPDATE HopDong
            SET SoTienConLai = @ConLaiGocSauKhiTra,
                TrangThai    = N'Đang trả góp'
            WHERE HopDongID = @HopDongID;

            -- Ghi log thanh toán
            INSERT INTO ThanhToan_Log (HopDongID, NhanVienID, NgayTra, SoTienTra, SoTienConNo, GhiChu)
            VALUES (@HopDongID, @NhanVienID, GETDATE(), @SoTienTra,
                    dbo.fn_CalcMoneyContract(@HopDongID, @NgayHomNay),
                    N'Trả góp một phần');

            SELECT N'Đã ghi nhận thanh toán một phần.' AS ThongBao,
                   @TongNoCurrent         AS TongNoTruocKhiTra,
                   @SoTienTra             AS SoTienKhachTra,
                   @DuNoSauKhiTra         AS DuNoConLai;
        END

        COMMIT TRANSACTION;

        -- ── Bước 5: Gợi ý tài sản có thể trả lại ─────────
        -- Điều kiện: Tổng giá trị tài sản còn lại (sau khi trả tài sản X)
        --            vẫn >= dư nợ hiện tại
        DECLARE @DuNoMoi DECIMAL(18,2) = dbo.fn_CalcMoneyContract(@HopDongID, @NgayHomNay);
        DECLARE @TongGiaTriConLai DECIMAL(18,2);

        SELECT @TongGiaTriConLai = SUM(GiaTriDinhGia)
        FROM TaiSan
        WHERE HopDongID = @HopDongID AND TrangThai = N'Đang cầm cố';

        SELECT
            ts.TaiSanID,
            ts.TenTaiSan,
            ts.LoaiTaiSan,
            ts.GiaTriDinhGia,
            (@TongGiaTriConLai - ts.GiaTriDinhGia) AS GiaTriConLaiNeuTraTS,
            @DuNoMoi                                AS DuNoHienTai,
            CASE
                WHEN (@TongGiaTriConLai - ts.GiaTriDinhGia) >= @DuNoMoi
                THEN N'✅ Có thể trả'
                ELSE N'❌ Không thể trả (dư nợ > giá trị tài sản còn)'
            END AS GoiY
        FROM TaiSan ts
        WHERE ts.HopDongID = @HopDongID
          AND ts.TrangThai  = N'Đang cầm cố'
        ORDER BY ts.GiaTriDinhGia ASC;

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;

GO
/****** Object:  Trigger [dbo].[trg_ChuyenTaiSan_DaBanThanhLy]    Script Date: 12/05/2026 3:45:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
--  EVENT 5 – TRIGGER 3:
--  Chuyển TaiSan sang "Đã bán thanh lý"
--  khi HopDong chuyển sang trạng thái "Đã thanh lý"
-- ============================================================
CREATE   TRIGGER [dbo].[trg_ChuyenTaiSan_DaBanThanhLy]
ON [dbo].[HopDong]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE ts
    SET ts.TrangThai = N'Đã bán thanh lý'
    FROM TaiSan ts
    JOIN inserted i ON ts.HopDongID = i.HopDongID
    JOIN deleted  d ON ts.HopDongID = d.HopDongID
    WHERE
        i.TrangThai = N'Đã thanh lý'               -- Hợp đồng vừa chuyển sang "Đã thanh lý"
      AND d.TrangThai = N'Quá hạn'                  -- Từ trạng thái "Quá hạn"
      AND ts.TrangThai IN (N'Sẵn sàng thanh lý', N'Đang cầm cố');
END;

GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_ChuyenTaiSan_DaBanThanhLy]
GO
/****** Object:  Trigger [dbo].[trg_ChuyenTaiSan_SanSangThanhLy]    Script Date: 12/05/2026 3:45:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
--  EVENT 5 – TRIGGER 2:
--  Chuyển TaiSan sang "Sẵn sàng thanh lý"
--  khi HopDong đang "Quá hạn" mà đã qua Deadline2
-- ============================================================
CREATE   TRIGGER [dbo].[trg_ChuyenTaiSan_SanSangThanhLy]
ON [dbo].[HopDong]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Lấy danh sách HopDong vừa update
    -- mà trạng thái hiện tại = 'Quá hạn' và đã qua Deadline2
    UPDATE ts
    SET ts.TrangThai = N'Sẵn sàng thanh lý'
    FROM TaiSan ts
    JOIN inserted i ON ts.HopDongID = i.HopDongID
    WHERE
        i.TrangThai = N'Quá hạn'                     -- Hợp đồng vừa ở trạng thái Quá hạn
      AND i.Deadline2 < CAST(GETDATE() AS DATE)       -- Đã qua Deadline2
      AND ts.TrangThai = N'Đang cầm cố';              -- Tài sản vẫn đang được cầm
END;

GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_ChuyenTaiSan_SanSangThanhLy]
GO
/****** Object:  Trigger [dbo].[trg_ChuyenTrangThai_QuaHan]    Script Date: 12/05/2026 3:45:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
--  EVENT 5 – TRIGGER 1:
--  Chuyển HopDong sang "Quá hạn" khi cập nhật bất kỳ trường nào
--  mà Deadline1 đã qua & trạng thái vẫn là "Đang vay"
--
--  Ghi chú: SQL Server không có event scheduler tự động.
--  Trong thực tế, cần SQL Agent Job chạy script này định kỳ
--  hoặc trigger trên UPDATE. Ta dùng AFTER UPDATE ở đây.
-- ============================================================
CREATE   TRIGGER [dbo].[trg_ChuyenTrangThai_QuaHan]
ON [dbo].[HopDong]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Cập nhật các hợp đồng vừa được UPDATE mà đã qua Deadline1
    -- Điều kiện: trạng thái cũ = 'Đang vay' (trong DELETED)
    --            và Deadline1 < ngày hôm nay
    UPDATE hd
    SET hd.TrangThai = N'Quá hạn'
    FROM HopDong hd
    JOIN inserted i ON hd.HopDongID = i.HopDongID
    JOIN deleted  d ON hd.HopDongID = d.HopDongID
    WHERE
        d.TrangThai = N'Đang vay'          -- Trạng thái TRƯỚC khi update
      AND hd.Deadline1 < CAST(GETDATE() AS DATE)  -- Đã quá Deadline1
      AND hd.TrangThai  = N'Đang vay';     -- Vẫn còn "Đang vay" (chưa bị trigger khác đổi)
END;

GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_ChuyenTrangThai_QuaHan]
GO
USE [master]
GO
